# .NET
bin/
obj/
*.user
*.suo
*.cache
*.log

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/

# NuGet
packages/
*.nupkg

# Visual Studio
.vs/
*.user
*.suo
*.slnx

# Rider / JetBrains
.idea/

# VS Code
.vscode/

# Test results
TestResults/